<div class="post-container">
    <div class="post-row">
        <div class="user-profile">
            <img src="/frontend/images/purple.jpg" >
            <div>
                <p>Sad Girl</p>
                <span>Nov 6 2021, 20:20 pm</span>
            </div>
        </div>
        <a href="#"><i class="fas fa-ellipsis-h"></i></a>
    </div>

    <p class="post-text">This ain’t Build a B*tch <br>
        You don’t get to pick and choose <br>
        Different ass and bigger boobs <br>
        If my eyes are brown or blue <br>
        This ain’t Build a B*tch <br>
        I’m filled with flaws and attitude <br>
        So if you need perfect, I’m not built for you. <span>@Bella Poarch</span> <a href="https://www.youtube.com/watch?v=FLGCGc7sAUw">#Build a B*tch</a></p>
    <img src="/frontend/images/purple.jpg" class="post-img">
    
    <div class="post-row">
        <div class="activity-icons">
            <div><i class="far fa-thumbs-up"></i> 10k</div>
            <div><i class="far fa-comment-alt"></i> 1k</div>
            <div><i class="far fa-share-square"></i> 1k</div>
        </div>
        <div class="post-profile-icon">
            <img src="/frontend/images/thai.jpg"> <i class="fas fa-caret-down"></i>
        </div>

    </div>
</div>