<!doctype html>

<html>

<head>

<title>Day 4</title>
<link rel="shortcut icon" href="#">
<link rel="stylesheet" href="/bootstrap.css" type="text/css">
<script src="/jquery.min.js"></script>
</head>

<body>

{{{body}}}

</body>

</html>